html, body, #wrapper { height: 100%; }
body > #wrapper {height: auto; min-height: 100%;}
html {font-size: 62.5%; background: #ccc url("../images/background-grain.jpg") 0 0; }
body { text-align: center; background: transparent url("../images/background-alpha.png") no-repeat 50% 0; margin-top: 0; min-height: 90em; font-family: Helvetica, Arial, sans-serif; }

/* p, span, em, #masthead li, #masthead li:hover { text-shadow: 0 0 0 #000; -moz-opacity: 0.9999; } */

#wrapper { margin: 0 auto; width: 96em; text-align: left; }

#header { height: 2em; overflow: hidden; height: 21em; position: relative; }
#header h1, #header p { text-indent: -9999px; }
#header h1 { display: block; background: transparent url("../images/logo_white.gif") no-repeat 0 0; height: 20em; width: 100%; margin-top: 1em; }
#header p.versiontag { position: absolute; right: 0; top: .25em; font-size: 3em; padding: .15em .3em .18em .3em; background: #000; color: #fff; text-indent: 0; }

#masthead { width: 100%; left: 0px; height: 5em; background: #000; line-height: 5em; }

#masthead li { list-style: none; float: left; width: 24em; height: 5em; }
#masthead a.menutwitter:hover, #masthead a.menutwitter.selected { background: #33ccff; }
#masthead a.menutumblr:hover, #masthead a.menutumblr.selected { background: #2c4762; }
#masthead a.menuflickr:hover, #masthead a.menuflickr.selected { background: #ff0084; }
#masthead a.menuyoutube:hover, #masthead a.menuyoutube.selected { background: #ff3232; }
	
#masthead li a { display: block; font-size: 2.5em; padding-left: .5em; text-decoration: none; color: #fff; }

#masthead li span { color: #333; }
#masthead li span.menuhover { color: #eee; }

#main { padding-bottom: 5em; background: transparent url("../images/grid_bg.gif") repeat-y 0 0; padding-top: 0; margin-top: 0; }

.twitter, .tumblr, .flickr, .youtube, .github { margin: 1.5em 0; width: auto; } /* Entry wrapper */

#main strong { background: #000; color: #fff; font-weight: normal; font-size: 1.2em; padding: .3em .5em; } /* Date */

.twitter span, .tumblr span, .flickr span, .youtube span, .github span { background: #000; padding: .3em .5em .35em; color: #fff; line-height: 1.55em; } /* Pipe entry */

em.tumblrimg { background: #000; color: #fff; font-size: 2em; }
em.tumblrimg br { padding: 0; background: none; }
em.tumblrimg img { border: .8em solid #000; padding: 0; }

.twitter { margin-left: 0px; }
.twitter span { font-size: 2.6em; }
.tumblr { margin-left: 24em; }
.tumblr span { font-size: 2em; }
.flickr { margin-left: 48em; }
.youtube { margin-left: 72em; }

.github { margin-left: 0; width: 96em; }
.github p { background: #000; }
.github span { font-size: 2em; background: none; }

#footer {
	position: relative;
	background: #000;
	margin-top: 5em; /* negative value of footer height */
	height: 5em;
	clear:both;
	color: #fff;
} 

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}