<div class="<%= pipe_entry.source %>">
	<p>
		<strong><%= pipe_entry.date %></strong><br/>
		
		<% if pipe_entry.description.include?('<img') %>
			<em class="tumblrimg"><%= pipe_entry.description %></em>
		
		<% if pipe_entry.source == 'youtube' %>
      <img class="youtube_thumb" src="http://gdata.youtube.com/feeds/base/videos/KPxE1aOiBNM" /> 
    <% end %>
		
		<% else %>
			<span><%= pipe_entry.title %></span>
		<% end %>
		
	</p>
</div>