<div class="tumblr">
	<p>
		<strong><%= pipe_entry.date %></strong><br/>
		
		<% if pipe_entry.description.include?('<img') %>
		<em class="tumblrimg">
			<% if pipe_entry.description.include?('via')%>
				<%= link_to pipe_entry.description, pipe_entry.link %></em>
			<% end %>
		<%= pipe_entry.description %></em>
		
	</p>
</div>