<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>mnordin</title>
		<meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type"/>
		<meta name="robots" content="INDEX,FOLLOW" />
		<meta name="classification" content="" />
		<meta name="author" content="Markus Nordin" />
		<meta name="reply-to" content="markus.nordin@gmail.com" />
		<meta name="email" content="markus.nordin@gmail.com" />
		<meta name="copyright" content="Markus Nordin" />
		<meta name="description" content="Min feed som täcker ungefär allting jag gör på webben." />
		<meta name="keywords" content="Markus Nordin, mnordin, rss, feed, twitter, flickr, youtube, tumblr" />
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://pipes.yahoo.com/pipes/pipe.run?_id=8HJ3534q3hGq14gEJ5REag&amp;_render=rss"/>

		<meta name="distribution" content="Global" />
		<meta name="rating" content="General" />
		<meta name="revisit-after" content="7 Days" />

		<link rel="icon" type="image/x-icon" href="http://mnordin.net/favicon.ico" />
		<link rel="shortcut icon" type="image/x-icon" href="http://mnordin.net/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.7.0/build/reset/reset-min.css" /> 
    <%= stylesheet_link_tag 'application', 'slidebox', 'jquery.fancybox' %>
		<!--[if lte IE 6]> <style type="text/css" media="screen"> body { background:none } </style> <![endif]-->
  </head>
<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6337077-3");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- End Google Analytics -->
  <body>
		<div class="slide-panel top">
			<div class="slidewrapper">
				<h2>Vad är detta?</h2>
				<p>En totalt självuppdaterande sida som plockar information från sociala medier jag använder.</p>
				<div class="menudescriptions">
					<div class="desc">
						<p>Twitter - Vad gör jag?</p>
					</div>
					<div class="desc">
						<p>Tumblr - Bokmärken på bilder, länkar eller texter jag gillar</p>
					</div>
					<div class="desc">
						<p>Flickr - Fotopubliceringstjänst</p>
					</div>
					<div class="desc">
						<p>Youtube - Mina favoritklipp</p>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div id="header">
				<h1>mnordin</h1>
			</div>
			<div id="menu">
				<ul>
					<li class="menutwitter"><a href="http://twitter.com/mnordin">gör</a></li>
					<li class="menutumblr"><a href="http://mnordin.tumblr.com/">gillar</a></li>
					<li class="menuflickr"><a href="http://www.flickr.com/photos/mnordin/">fotar</a></li>
					<li class="menuyoutube"><a href="http://www.youtube.com/user/gitclone">ser</a></li>
				</ul>
			</div>
			<div id="main" class="clearfix">
					<%= yield %>
			</div>
			
			<script type="text/javascript" charset="utf-8">
				/*
				function youtube( videoid ) {
					//var player = document.getElementById("player");
					//player.innerHTML = '<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/'+videoid+'&hl=sv&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/'+videoid+'&hl=sv&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>';
					
					document.getElementById('player').text = "<object width=\"425\" height=\"344\"><param name=\"movie\" value=\"http://www.youtube.com/v/"+videoid+"&hl=sv&fs=1&\"></param><param name=\"allowFullScreen\" value=\"true\"></param><param name=\"allowscriptaccess\" value=\"always\"></param><embed src=\"http://www.youtube.com/v/"+videoid+"&hl=sv&fs=1&\" type=\"application/x-shockwave-flash\" allowscriptaccess=\"always\" allowfullscreen=\"true\" width=\"425\" height=\"344\"></embed></object>";
				}
				*/
			</script>
		</div>
		
		<div id="player" style="display:none;">
			<p>SOMETHING IS TERRIBLY WRONG!</p>
		</div>
		
		<div id="footer">
			<p>Markus Nordin<br /><span class="email">markus dot nordin at gmail dot com</span><br /><span class="phone">&nbsp;</span></p>
		</div>
		
		<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
		<%= javascript_include_tag 'ify.min', 'slidebox', 'jquery.fancybox-1.2.1', 'application' %>
  </body>
</html>